html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

body{
    margin: auto;
    max-width: 320px;
}

header, footer{
    background-color: black;
    text-align: center;
    color: chartreuse;
}

ul{
    list-style-type: none;
}
#onward{
    float: right;
}

