
body{
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
}
.dojo{
  background: rgb(255, 255, 255);
  width: 100%;
  height: 600px;
  background-size: 100% auto;
  padding-top: 10px;
}

#question {
 font-size: 24px;
}

.board {
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0b5394ff;
  margin: 20px;
}
#cards{
  background-color:#9fc5e8ff;
  padding: 40px;
  margin: 10px;
  text-align: center;
}


#response input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#response label {
  display: inline-block;
  width: 75%;
  background-color: #ddd;
  padding: 10px 20px;
  margin: 5px;
  border: 2px solid #444;
  border-radius: 4px;
}

#response input[type="radio"]:focus + label {
  background-color: #9fc5e8ff;
  border: 2px solid rgb(113, 169, 221);
}

#result{
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0.2em 0;
  width: 100%;
  text-align: center;
}
.stats{
    background-color: #0b5394ff;
    color: white;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}
.correct {
    background-color:#6aa84fff;
}
.wrong {
  background-color: rgb(114, 40, 40);
}
.info {
  background-color: rgb(102, 102, 102);
}